body {
    background-image: url(Imagens/Lunabarfrente.jpg);
    background-size: cover;
    color: white;
    text-align: right;
    margin: 40px 80px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 65px;
    margin-bottom: 15px;
    color: white;
    font-weight: 900;
}

p {
    font-size: 16px;
    font-weight:bold;
    margin: 16px 0;
}

span {
    color:#696969;
}

ul {
    list-style: none;
    margin: 50px 0 0 0;
    padding: 0;
}

li {
    display: inline;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 5px;
    margin-right: 5px;
}

ul li a:hover {
    opacity:0.7;
}

.segundo-paragrafo {
    margin-bottom: 50px;
}

.botao {
    text-decoration: none;
    background-color: rgba(127, 127, 127, 1);
    padding: 10px 15px 10px 15px ;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #808080;
}

.botao:hover {
    background-color: rgba(127, 127, 127, .7);
}

@media (max-width: 640px) {
    body {
        text-align: center;
        margin: 50px 20px;
    }
}
